In [ ]:
"""
ExtraÃ§Ã£o dos dados
"""

In [4]:
import pandas as pd
import os
import kagglehub
from sqlalchemy import create_engine
from dotenv import load_dotenv
import datetime

C:\Users\hamms\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
path = kagglehub.dataset_download("docstein/brics-world-bank-indicators")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\hamms\.cache\kagglehub\datasets\docstein\brics-world-bank-indicators\versions\2

In [ ]:
"""
AnÃ¡lise exploratÃ³ria
"""

In [6]:
#Nome dos arquivos baixados 
print(os.listdir(path))

['BRICS Development Indicators', 'BRICS Economic Data.xlsx', 'BRICS Education and Environment Data.xlsx', 'BRICS Health and Poverty Data.xlsx', 'BRICS Private Sector Data.xlsx', 'BRICS Public Sector and Society Data.xlsx']

In [7]:
Arquivos = ['BRICS Economic Data.xlsx', 'BRICS Education and Environment Data.xlsx', 'BRICS Health and Poverty Data.xlsx',
            'BRICS Private Sector Data.xlsx', 'BRICS Public Sector and Society Data.xlsx']

for arquivo in Arquivos:
    print(f"\n{'='*50}\n Analisando: {arquivo}\n{'='*50}")
    df = pd.read_excel(os.path.join(path, arquivo))

    print("\n Info geral:")
    print(df.info())

    print("\n Tipos de dados:")
    print(df.dtypes)

    print("\n Primeiras linhas:")
    print(df.head())

    print("\n Valores nulos por coluna:")
    print(df.isnull().sum())

    print("\n Strings vazias por coluna:")
    print((df == '').sum())

    print("\n Registros duplicados:", df.duplicated().sum())

    print("\n Valores Ãºnicos por coluna:")
    print(df.nunique())

    print("\nðŸ“Š EstatÃ­sticas descritivas:")
    print(df.describe(include='all'))

==================================================
 Analisando: BRICS Economic Data.xlsx
==================================================

 Info geral:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 55 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   1727 non-null   object
 1   Country Code   1725 non-null   object
 2   Series Name    1725 non-null   object
 3   Series Code    1725 non-null   object
 4   1970 [YR1970]  671 non-null    float64
 5   1971 [YR1971]  688 non-null    float64
 6   1972 [YR1972]  694 non-null    float64
 7   1973 [YR1973]  693 non-null    float64
 8   1974 [YR1974]  698 non-null    float64
 9   1975 [YR1975]  802 non-null    float64
 10  1976 [YR1976]  802 non-null    float64
 11  1977 [YR1977]  808 non-null    float64
 12  1978 [YR1978]  807 non-null    float64
 13  1979 [YR1979]  835 non-null    float64
 14  1980 [YR1980]  847 non-null    float64
 15  1981 [YR1981]  882 non-null    float64
 16  1982 [YR1982]  948 non-null    float64
 17  1983 [YR1983]  953 non-null    float64
 18  1984 [YR1984]  955 non-null    float64
 19  1985 [YR1985]  958 non-null    float64
 20  1986 [YR1986]  957 non-null    float64
 21  1987 [YR1987]  958 non-null    float64
 22  1988 [YR1988]  996 non-null    float64
 23  1989 [YR1989]  1030 non-null   float64
 24  1990 [YR1990]  1182 non-null   float64
 25  1991 [YR1991]  1223 non-null   float64
 26  1992 [YR1992]  1279 non-null   float64
 27  1993 [YR1993]  1327 non-null   float64
 28  1994 [YR1994]  1417 non-null   float64
 29  1995 [YR1995]  1451 non-null   float64
 30  1996 [YR1996]  1461 non-null   float64
 31  1997 [YR1997]  1476 non-null   float64
 32  1998 [YR1998]  1480 non-null   float64
 33  1999 [YR1999]  1486 non-null   float64
 34  2000 [YR2000]  1490 non-null   float64
 35  2001 [YR2001]  1490 non-null   float64
 36  2002 [YR2002]  1499 non-null   float64
 37  2003 [YR2003]  1498 non-null   float64
 38  2004 [YR2004]  1502 non-null   float64
 39  2005 [YR2005]  1478 non-null   float64
 40  2006 [YR2006]  1479 non-null   float64
 41  2007 [YR2007]  1484 non-null   float64
 42  2008 [YR2008]  1489 non-null   float64
 43  2009 [YR2009]  1487 non-null   float64
 44  2010 [YR2010]  1486 non-null   float64
 45  2011 [YR2011]  1489 non-null   float64
 46  2012 [YR2012]  1491 non-null   float64
 47  2013 [YR2013]  1495 non-null   float64
 48  2014 [YR2014]  1490 non-null   float64
 49  2015 [YR2015]  1496 non-null   float64
 50  2016 [YR2016]  1489 non-null   float64
 51  2017 [YR2017]  1495 non-null   float64
 52  2018 [YR2018]  1495 non-null   float64
 53  2019 [YR2019]  1486 non-null   float64
 54  2020 [YR2020]  1126 non-null   float64
dtypes: float64(51), object(4)
memory usage: 743.5+ KB
None

 Tipos de dados:
Country Name      object
Country Code      object
Series Name       object
Series Code       object
1970 [YR1970]    float64
1971 [YR1971]    float64
1972 [YR1972]    float64
1973 [YR1973]    float64
1974 [YR1974]    float64
1975 [YR1975]    float64
1976 [YR1976]    float64
1977 [YR1977]    float64
1978 [YR1978]    float64
1979 [YR1979]    float64
1980 [YR1980]    float64
1981 [YR1981]    float64
1982 [YR1982]    float64
1983 [YR1983]    float64
1984 [YR1984]    float64
1985 [YR1985]    float64
1986 [YR1986]    float64
1987 [YR1987]    float64
1988 [YR1988]    float64
1989 [YR1989]    float64
1990 [YR1990]    float64
1991 [YR1991]    float64
1992 [YR1992]    float64
1993 [YR1993]    float64
1994 [YR1994]    float64
1995 [YR1995]    float64
1996 [YR1996]    float64
1997 [YR1997]    float64
1998 [YR1998]    float64
1999 [YR1999]    float64
2000 [YR2000]    float64
2001 [YR2001]    float64
2002 [YR2002]    float64
2003 [YR2003]    float64
2004 [YR2004]    float64
2005 [YR2005]    float64
2006 [YR2006]    float64
2007 [YR2007]    float64
2008 [YR2008]    float64
2009 [YR2009]    float64
2010 [YR2010]    float64
2011 [YR2011]    float64
2012 [YR2012]    float64
2013 [YR2013]    float64
2014 [YR2014]    float64
2015 [YR2015]    float64
2016 [YR2016]    float64
2017 [YR2017]    float64
2018 [YR2018]    float64
2019 [YR2019]    float64
2020 [YR2020]    float64
dtype: object

 Primeiras linhas:
  Country Name Country Code  \
0       Brazil          BRA
1       Brazil          BRA
2       Brazil          BRA
3       Brazil          BRA
4       Brazil          BRA

                                         Series Name           Series Code  \
0     Adjusted net national income (annual % growth)     NY.ADJ.NNTY.KD.ZG
1   Adjusted net national income (constant 2015 US$)        NY.ADJ.NNTY.KD
2         Adjusted net national income (current US$)        NY.ADJ.NNTY.CD
3  Adjusted net national income per capita (annua...  NY.ADJ.NNTY.PC.KD.ZG
4  Adjusted net national income per capita (const...     NY.ADJ.NNTY.PC.KD

   1970 [YR1970]  1971 [YR1971]  1972 [YR1972]  1973 [YR1973]  1974 [YR1974]  \
0            NaN   1.164947e+01   1.234455e+01   1.199246e+01   5.131874e+00
1   3.085549e+11   3.444999e+11   3.870269e+11   4.334409e+11   4.556846e+11
2   3.879944e+10   4.524430e+10   5.381338e+10   7.217868e+10   9.549633e+10
3            NaN   8.935440e+00   9.670966e+00   9.363915e+00   2.675231e+00
4   3.244094e+03   3.533968e+03   3.875737e+03   4.238658e+03   4.352052e+03

   1975 [YR1975]  ...  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  \
0   3.197446e+00  ...   5.229621e+00   2.591876e+00   4.128928e+00
1   4.702548e+11  ...   1.546649e+12   1.586736e+12   1.652252e+12
2   1.113937e+11  ...   2.269851e+12   2.149650e+12   2.186978e+12
3   7.815122e-01  ...   4.270155e+00   1.679274e+00   3.223214e+00
4   4.386064e+03  ...   7.830429e+03   7.962194e+03   8.218755e+03

   2014 [YR2014]  2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  \
0  -1.420558e-01  -2.944151e+00  -3.120275e+00   8.914463e-01  -1.277959e+00
1   1.649904e+12   1.601329e+12   1.551363e+12   1.565192e+12   1.545190e+12
2   2.164466e+12   1.601329e+12   1.596448e+12   1.832860e+12   1.644502e+12
3  -9.929897e-01  -3.754888e+00  -3.915045e+00   8.038341e-02  -2.048761e+00
4   8.137266e+03   7.831540e+03   7.522652e+03   7.531042e+03   7.376673e+03

   2019 [YR2019]  2020 [YR2020]
0   1.188819e+00            NaN
1   1.563559e+12            NaN
2   1.610061e+12            NaN
3   4.311839e-01            NaN
4   7.408586e+03            NaN

[5 rows x 55 columns]

 Valores nulos por coluna:
Country Name        3
Country Code        5
Series Name         5
Series Code         5
1970 [YR1970]    1059
1971 [YR1971]    1042
1972 [YR1972]    1036
1973 [YR1973]    1037
1974 [YR1974]    1032
1975 [YR1975]     928
1976 [YR1976]     928
1977 [YR1977]     922
1978 [YR1978]     923
1979 [YR1979]     895
1980 [YR1980]     883
1981 [YR1981]     848
1982 [YR1982]     782
1983 [YR1983]     777
1984 [YR1984]     775
1985 [YR1985]     772
1986 [YR1986]     773
1987 [YR1987]     772
1988 [YR1988]     734
1989 [YR1989]     700
1990 [YR1990]     548
1991 [YR1991]     507
1992 [YR1992]     451
1993 [YR1993]     403
1994 [YR1994]     313
1995 [YR1995]     279
1996 [YR1996]     269
1997 [YR1997]     254
1998 [YR1998]     250
1999 [YR1999]     244
2000 [YR2000]     240
2001 [YR2001]     240
2002 [YR2002]     231
2003 [YR2003]     232
2004 [YR2004]     228
2005 [YR2005]     252
2006 [YR2006]     251
2007 [YR2007]     246
2008 [YR2008]     241
2009 [YR2009]     243
2010 [YR2010]     244
2011 [YR2011]     241
2012 [YR2012]     239
2013 [YR2013]     235
2014 [YR2014]     240
2015 [YR2015]     234
2016 [YR2016]     241
2017 [YR2017]     235
2018 [YR2018]     235
2019 [YR2019]     244
2020 [YR2020]     604
dtype: int64

 Strings vazias por coluna:
Country Name     0
Country Code     0
Series Name      0
Series Code      0
1970 [YR1970]    0
1971 [YR1971]    0
1972 [YR1972]    0
1973 [YR1973]    0
1974 [YR1974]    0
1975 [YR1975]    0
1976 [YR1976]    0
1977 [YR1977]    0
1978 [YR1978]    0
1979 [YR1979]    0
1980 [YR1980]    0
1981 [YR1981]    0
1982 [YR1982]    0
1983 [YR1983]    0
1984 [YR1984]    0
1985 [YR1985]    0
1986 [YR1986]    0
1987 [YR1987]    0
1988 [YR1988]    0
1989 [YR1989]    0
1990 [YR1990]    0
1991 [YR1991]    0
1992 [YR1992]    0
1993 [YR1993]    0
1994 [YR1994]    0
1995 [YR1995]    0
1996 [YR1996]    0
1997 [YR1997]    0
1998 [YR1998]    0
1999 [YR1999]    0
2000 [YR2000]    0
2001 [YR2001]    0
2002 [YR2002]    0
2003 [YR2003]    0
2004 [YR2004]    0
2005 [YR2005]    0
2006 [YR2006]    0
2007 [YR2007]    0
2008 [YR2008]    0
2009 [YR2009]    0
2010 [YR2010]    0
2011 [YR2011]    0
2012 [YR2012]    0
2013 [YR2013]    0
2014 [YR2014]    0
2015 [YR2015]    0
2016 [YR2016]    0
2017 [YR2017]    0
2018 [YR2018]    0
2019 [YR2019]    0
2020 [YR2020]    0
dtype: int64

 Registros duplicados: 2

 Valores Ãºnicos por coluna:
Country Name        7
Country Code        5
Series Name       345
Series Code       345
1970 [YR1970]     645
1971 [YR1971]     663
1972 [YR1972]     668
1973 [YR1973]     670
1974 [YR1974]     674
1975 [YR1975]     771
1976 [YR1976]     772
1977 [YR1977]     776
1978 [YR1978]     775
1979 [YR1979]     800
1980 [YR1980]     818
1981 [YR1981]     847
1982 [YR1982]     911
1983 [YR1983]     920
1984 [YR1984]     923
1985 [YR1985]     923
1986 [YR1986]     922
1987 [YR1987]     933
1988 [YR1988]     965
1989 [YR1989]     994
1990 [YR1990]    1141
1991 [YR1991]    1186
1992 [YR1992]    1232
1993 [YR1993]    1278
1994 [YR1994]    1368
1995 [YR1995]    1401
1996 [YR1996]    1414
1997 [YR1997]    1419
1998 [YR1998]    1433
1999 [YR1999]    1436
2000 [YR2000]    1448
2001 [YR2001]    1446
2002 [YR2002]    1458
2003 [YR2003]    1456
2004 [YR2004]    1466
2005 [YR2005]    1444
2006 [YR2006]    1435
2007 [YR2007]    1449
2008 [YR2008]    1449
2009 [YR2009]    1447
2010 [YR2010]    1431
2011 [YR2011]    1435
2012 [YR2012]    1457
2013 [YR2013]    1455
2014 [YR2014]    1444
2015 [YR2015]    1350
2016 [YR2016]    1428
2017 [YR2017]    1435
2018 [YR2018]    1456
2019 [YR2019]    1451
2020 [YR2020]    1116
dtype: int64

ðŸ“Š EstatÃ­sticas descritivas:
       Country Name Country Code                           Series Name  \
count          1727         1725                                  1725
unique            7            5                                   345
top          Brazil          BRA  Use of IMF credit (DOD, current US$)
freq            345          345                                     5
mean            NaN          NaN                                   NaN
std             NaN          NaN                                   NaN
min             NaN          NaN                                   NaN
25%             NaN          NaN                                   NaN
50%             NaN          NaN                                   NaN
75%             NaN          NaN                                   NaN
max             NaN          NaN                                   NaN

           Series Code  1970 [YR1970]  1971 [YR1971]  1972 [YR1972]  \
count             1725   6.710000e+02   6.880000e+02   6.940000e+02
unique             345            NaN            NaN            NaN
top     DT.DOD.DIMF.CD            NaN            NaN            NaN
freq                 5            NaN            NaN            NaN
mean               NaN   1.799674e+11   1.825216e+11   1.837062e+11
std                NaN   1.071904e+12   1.082008e+12   1.076407e+12
min                NaN  -1.608627e+11  -1.546031e+11  -1.232359e+11
25%                NaN   1.125756e+01   1.009719e+01   9.336301e+00
50%                NaN   5.030000e+07   4.510898e+07   5.002300e+07
75%                NaN   1.359328e+10   1.481829e+10   1.540714e+10
max                NaN   1.091223e+13   1.121228e+13   1.118691e+13

        1973 [YR1973]  1974 [YR1974]  1975 [YR1975]  ...  2011 [YR2011]  \
count    6.930000e+02   6.980000e+02   8.020000e+02  ...   1.489000e+03
unique            NaN            NaN            NaN  ...            NaN
top               NaN            NaN            NaN  ...            NaN
freq              NaN            NaN            NaN  ...            NaN
mean     1.947021e+11   1.985485e+11   1.836068e+11  ...   3.023490e+12
std      1.116432e+12   1.117296e+12   1.120840e+12  ...   1.164684e+13
min     -6.222296e+10  -1.358333e+11  -1.969013e+11  ...  -5.716230e+12
25%      1.089078e+01   1.045927e+01   8.715371e+00  ...   1.648707e+01
50%      5.639000e+07   5.161500e+07   3.393300e+07  ...   6.486000e+07
75%      1.924700e+10   2.208623e+10   1.443547e+10  ...   3.606049e+11
max      1.175358e+13   1.159234e+13   1.256053e+13  ...   9.498839e+13

        2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  2015 [YR2015]  \
count    1.491000e+03   1.495000e+03   1.490000e+03   1.496000e+03
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean     3.290297e+12   3.511469e+12   3.760804e+12   3.913592e+12
std      1.271379e+13   1.365408e+13   1.471018e+13   1.557199e+13
min     -6.687210e+12  -3.350296e+12  -3.723256e+12  -3.162760e+12
25%      1.544352e+01   1.417413e+01   1.355401e+01   1.305664e+01
50%      5.436000e+07   2.025000e+07   1.753500e+07   1.093690e+07
75%      3.700371e+11   3.692750e+11   3.692227e+11   3.472596e+11
max      1.049016e+14   1.145416e+14   1.282160e+14   1.398565e+14

        2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
count    1.489000e+03   1.495000e+03   1.495000e+03   1.486000e+03
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean     4.154484e+12   4.501338e+12   4.911908e+12   5.178166e+12
std      1.677463e+13   1.825895e+13   1.998874e+13   2.128742e+13
min     -3.142850e+12  -5.398688e+12  -7.018725e+12  -5.144732e+12
25%      1.385956e+01   1.499178e+01   1.307461e+01   1.388436e+01
50%      1.658000e+07   6.691000e+07   9.354295e+06   3.704500e+07
75%      3.221264e+11   3.535366e+11   3.637494e+11   3.582559e+11
max      1.539167e+14   1.717114e+14   1.931674e+14   2.083449e+14

        2020 [YR2020]
count    1.126000e+03
unique            NaN
top               NaN
freq              NaN
mean     6.555345e+12
std      2.339613e+13
min     -2.524011e+12
25%      1.490154e+01
50%      8.603484e+09
75%      7.662940e+11
max      1.981671e+14

[11 rows x 55 columns]

==================================================
 Analisando: BRICS Education and Environment Data.xlsx
==================================================

 Info geral:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1430 entries, 0 to 1429
Data columns (total 55 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   1427 non-null   object
 1   Country Code   1425 non-null   object
 2   Series Name    1425 non-null   object
 3   Series Code    1425 non-null   object
 4   1970 [YR1970]  367 non-null    float64
 5   1971 [YR1971]  478 non-null    float64
 6   1972 [YR1972]  452 non-null    float64
 7   1973 [YR1973]  455 non-null    float64
 8   1974 [YR1974]  440 non-null    float64
 9   1975 [YR1975]  447 non-null    float64
 10  1976 [YR1976]  461 non-null    float64
 11  1977 [YR1977]  470 non-null    float64
 12  1978 [YR1978]  451 non-null    float64
 13  1979 [YR1979]  444 non-null    float64
 14  1980 [YR1980]  474 non-null    float64
 15  1981 [YR1981]  475 non-null    float64
 16  1982 [YR1982]  487 non-null    float64
 17  1983 [YR1983]  442 non-null    float64
 18  1984 [YR1984]  445 non-null    float64
 19  1985 [YR1985]  450 non-null    float64
 20  1986 [YR1986]  476 non-null    float64
 21  1987 [YR1987]  525 non-null    float64
 22  1988 [YR1988]  486 non-null    float64
 23  1989 [YR1989]  520 non-null    float64
 24  1990 [YR1990]  695 non-null    float64
 25  1991 [YR1991]  642 non-null    float64
 26  1992 [YR1992]  648 non-null    float64
 27  1993 [YR1993]  616 non-null    float64
 28  1994 [YR1994]  704 non-null    float64
 29  1995 [YR1995]  691 non-null    float64
 30  1996 [YR1996]  621 non-null    float64
 31  1997 [YR1997]  658 non-null    float64
 32  1998 [YR1998]  622 non-null    float64
 33  1999 [YR1999]  727 non-null    float64
 34  2000 [YR2000]  849 non-null    float64
 35  2001 [YR2001]  784 non-null    float64
 36  2002 [YR2002]  851 non-null    float64
 37  2003 [YR2003]  799 non-null    float64
 38  2004 [YR2004]  750 non-null    float64
 39  2005 [YR2005]  766 non-null    float64
 40  2006 [YR2006]  738 non-null    float64
 41  2007 [YR2007]  855 non-null    float64
 42  2008 [YR2008]  810 non-null    float64
 43  2009 [YR2009]  806 non-null    float64
 44  2010 [YR2010]  851 non-null    float64
 45  2011 [YR2011]  838 non-null    float64
 46  2012 [YR2012]  846 non-null    float64
 47  2013 [YR2013]  793 non-null    float64
 48  2014 [YR2014]  826 non-null    float64
 49  2015 [YR2015]  768 non-null    float64
 50  2016 [YR2016]  680 non-null    float64
 51  2017 [YR2017]  747 non-null    float64
 52  2018 [YR2018]  597 non-null    float64
 53  2019 [YR2019]  353 non-null    float64
 54  2020 [YR2020]  180 non-null    float64
dtypes: float64(51), object(4)
memory usage: 614.6+ KB
None

 Tipos de dados:
Country Name      object
Country Code      object
Series Name       object
Series Code       object
1970 [YR1970]    float64
1971 [YR1971]    float64
1972 [YR1972]    float64
1973 [YR1973]    float64
1974 [YR1974]    float64
1975 [YR1975]    float64
1976 [YR1976]    float64
1977 [YR1977]    float64
1978 [YR1978]    float64
1979 [YR1979]    float64
1980 [YR1980]    float64
1981 [YR1981]    float64
1982 [YR1982]    float64
1983 [YR1983]    float64
1984 [YR1984]    float64
1985 [YR1985]    float64
1986 [YR1986]    float64
1987 [YR1987]    float64
1988 [YR1988]    float64
1989 [YR1989]    float64
1990 [YR1990]    float64
1991 [YR1991]    float64
1992 [YR1992]    float64
1993 [YR1993]    float64
1994 [YR1994]    float64
1995 [YR1995]    float64
1996 [YR1996]    float64
1997 [YR1997]    float64
1998 [YR1998]    float64
1999 [YR1999]    float64
2000 [YR2000]    float64
2001 [YR2001]    float64
2002 [YR2002]    float64
2003 [YR2003]    float64
2004 [YR2004]    float64
2005 [YR2005]    float64
2006 [YR2006]    float64
2007 [YR2007]    float64
2008 [YR2008]    float64
2009 [YR2009]    float64
2010 [YR2010]    float64
2011 [YR2011]    float64
2012 [YR2012]    float64
2013 [YR2013]    float64
2014 [YR2014]    float64
2015 [YR2015]    float64
2016 [YR2016]    float64
2017 [YR2017]    float64
2018 [YR2018]    float64
2019 [YR2019]    float64
2020 [YR2020]    float64
dtype: object

 Primeiras linhas:
  Country Name Country Code  \
0       Brazil          BRA
1       Brazil          BRA
2       Brazil          BRA
3       Brazil          BRA
4       Brazil          BRA

                                         Series Name        Series Code  \
0  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1            Access to electricity (% of population)     EG.ELC.ACCS.ZS
2  Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS
3  Access to electricity, urban (% of urban popul...  EG.ELC.ACCS.UR.ZS
4  Adjusted net enrollment rate, primary (% of pr...        SE.PRM.TENR

   1970 [YR1970]  1971 [YR1971]  1972 [YR1972]  1973 [YR1973]  1974 [YR1974]  \
0            NaN            NaN            NaN            NaN            NaN
1            NaN            NaN            NaN            NaN            NaN
2            NaN            NaN            NaN            NaN            NaN
3            NaN            NaN            NaN            NaN            NaN
4            NaN            NaN            NaN            NaN            NaN

   1975 [YR1975]  ...  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  \

In [8]:
df_BRICS_Economic = pd.read_excel(os.path.join(path, Arquivos[0]))
df_BRICS_Education_and_Environment = pd.read_excel(os.path.join(path, Arquivos[1]))
df_BRICS_Health_and_Poverty = pd.read_excel(os.path.join(path, Arquivos[2]))
df_BRICS_Private_Sector = pd.read_excel(os.path.join(path, Arquivos[3]))
df_BRICS_Public_Sector_and_Society = pd.read_excel(os.path.join(path, Arquivos[4]))

In [ ]:
"""
MudanÃ§a no nome das colunas dos anos
"""

In [11]:
dfs = [
    df_BRICS_Economic,
    df_BRICS_Education_and_Environment,
    df_BRICS_Health_and_Poverty,
    df_BRICS_Private_Sector,
    df_BRICS_Public_Sector_and_Society
]

for i, df in enumerate(dfs):
    df.columns = [col.split(' ')[0] if '[YR' in col else col for col in df.columns]

In [ ]:
"""
Enviar arquivos pra SQL Server
"""

In [12]:
load_dotenv()
server = os.getenv("SERVER")
database = os.getenv("DATABASE") 

engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

In [13]:
df_BRICS_Economic.to_sql('Economia', engine, if_exists='replace', index=False)
df_BRICS_Education_and_Environment.to_sql('Educacao_e_Ambiente', engine, if_exists='replace', index=False)
df_BRICS_Health_and_Poverty.to_sql('Saude_e_Pobreza', engine, if_exists='replace', index=False)
df_BRICS_Private_Sector.to_sql('Setor_Privado', engine, if_exists='replace', index=False)
df_BRICS_Public_Sector_and_Society.to_sql('Setor_Publico_e_Sociedade', engine, if_exists='replace', index=False)

4